@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.card {
    background-color: white;
    border: none;
    box-shadow: -5px 5px #88888878;
    margin-bottom: 75px;
    border-radius: 0 !important;
    margin-left: 10px;
    margin-right: 10px;

    max-width: 700px;
    min-height: 300px;
}

.card-title {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: black;
    border-radius: 0 !important;

    font-family: 'VT323', monospace;
    text-align: left;
    padding: 0px;
    margin:0px;
    padding-left: 10px;
    background-color: rgba(163, 163, 163, 0.425);
    position: relative;
}

.card-title:first-letter 
{
  text-decoration:underline;
}

.windows-interface {
    float: right
}

.windows-btn {
    max-width:20%;
    height: auto;
    padding-left: 10px;
    vertical-align: center;
}

.card-body {
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: black;
    padding-left: 30px;
    padding-right: 30px;

    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.body-title {
    color: var(--darkerColor);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: left;
}

.card-text {
    color: black;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contributors {
    text-align: right;
}

.avatar {
    border-radius: 50% !important;
    margin-left: 10px;
}

.title {
    font-family: 'VT323', monospace;
    font-size: x-large;
}
